footer {
    background-color: var(--dark);
    height: 110vh;
}

.widgets-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.widget {
    margin-bottom: 5vh;
}

.footer-nav-ul {
    list-style: none;
    padding-left: 0;
}
.footer-nav-ul a {
    text-decoration: none;
    color: white;
    font-family: var(--nav-font);
    font-variant: small-caps;
}

.widget p{
    color: white;
    font-size: 13px;
    line-height: 1.2;
}
.footer-impressum p {
    font-size: 16px;  
    font-weight: 700;
}

.developed-by {
    width: 100vw;
    color: white;
    text-align: center;
}
.developed-by p {
    font-size: 14px;
}

@media screen 
    and (min-device-width: 1200px) 
    and (-webkit-min-device-pixel-ratio: 1) {

        footer {
            height: 70vh;
        }
        .widgets-container{
            height: 50vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 10vh;
        }
        .developed-by {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
    }